<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Supply Think</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/resources/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link th:href="@{/resources/dist/css/sb-admin-2.css}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link th:href="@{/resources/vendor/morrisjs/morris.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/resources/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

     <script type="text/javascript" language="JavaScript" src="/resources/dist/js/sb-admin-2.js"></script>

    <!-- jQuery -->
	<script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>

    <script type="text/javascript" language="JavaScript" src="/resources/vendor/raphael/raphael.min.js"></script>
    <script type="text/javascript" language="JavaScript" src="/resources/vendor/morrisjs/morris.min.js"></script>

    <div id="wrapper">

        <div w3-include-html="Navigator.html"></div> 

		<script>
			includeHTML();
		</script>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="page-header"> <span th:text="#{all.torrecontrole}" /> - <span th:text="#{all.kpi}" /></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
            <!-- header de atualizacao -->
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <span th:text="#{all.cobertura}" /> (<span th:text="#{all.dias}" />) 
                        </div>
                        <div class="panel-body">
                            <h3>50</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <span th:text="#{all.ruptura}" />
                        </div>
                        <div class="panel-body">
                            <h3>5%</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-green">
                        <div class="panel-heading">
 							<span th:text="#{all.giroEstoque}" /> (<span th:text="#{all.ano}" />)
                        </div>
                        <div class="panel-body">
                            <h3>14</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-green">
                        <div class="panel-heading">
 							1-<span th:text="#{all.mape}" /> (<span th:text="#{all.assertividade}" />)
                        </div>
                        <div class="panel-body">
                            <h3>83%</h3>
                        </div>
                    </div>
                </div>

                <!-- header de atualizacao -->
            </div>
            
                            
            
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">

                            

                            <!-- Produto -->
			                <div class="col-md-12">
			                    <div class="panel panel-default">
			                        <div class="panel-heading">
			                            <h3><span th:text="#{all.cobertura}" /> (<span th:text="#{all.dias}" />)</h3>
			                        </div>
			                        <!-- /.panel-heading -->
			                        <div class="panel-body">
			                            <div id="cobertura-example"></div>
			                        </div>
			                        <!-- /.panel-body -->
			                    </div>
			                    <!-- /.panel -->
			                </div>
                           <script type="text/javascript">
                           $(document).ready(function() {
                               Morris.Area({
                                   element: 'cobertura-example',
                                   data: [{
                                       period: '2018-11-25',
                                       histProduto: 45,
                                   }, {
                                       period: '2018-11-26',
                                       histProduto: 48,
                                   }, {
                                       period: '2018-11-27',
                                       histProduto: 42,
                                   }, {
                                       period: '2018-11-28',
                                       histProduto: 44,
                                   }, {
                                       period: '2018-11-29',
                                       histProduto: 49,
                                   }, {
                                       period: '2018-11-30',
                                       histProduto: 40,
                                   }, {
                                       period: '2018-12-01',
                                       histProduto: 39,
                                   }, {
                                       period: '2018-12-02',
                                       histProduto: 42,
                                   }, {
                                       period: '2018-12-03',
                                       histProduto: 43,
                                   }, {
                                       period: '2018-12-04',
                                       histProduto: 47,
                                   }],
                                   xkey: 'period',
                                   ykeys: ['histProduto'],
                                   labels: ['Product'],
                                   lineColors:     ['#673AB7'],
                                   goalLineColors: ['#0288D1'],
                                   fillOpacity:    0.2,
                                   behaveLikeLine: true,
                                   lineWidth:      2,
                                   pointSize:      6,
                                   gridLineColor:  '#673AB7',
                                   resize:         true
                                   
                               });

                           });
                           </script>
                           <!-- /. Produto -->
                            
 							<!-- Local de Estoque -->
			                <div class="col-lg-12">
			                    <div class="panel panel-default">
			                        <div class="panel-heading">
			                            <h3><span th:text="#{all.ruptura}" /></h3>
			                        </div>
			                        <!-- /.panel-heading -->
			                        <div class="panel-body">
			                            <div id="ruptura-example"></div>
			                        </div>
			                        <!-- /.panel-body -->
			                    </div>
			                    <!-- /.panel -->
			                </div>
                           <script type="text/javascript">
                           $(document).ready(function() {
                               Morris.Area({
                                   element: 'ruptura-example',
                                   data: [{
                                       period: '2018-11-25',
                                       histProduto: 3,
                                   }, {
                                       period: '2018-11-26',
                                       histProduto: 4,
                                   }, {
                                       period: '2018-11-27',
                                       histProduto: 2.5,
                                   }, {
                                       period: '2018-11-28',
                                       histProduto: 3.5,
                                   }, {
                                       period: '2018-11-29',
                                       histProduto: 3.2,
                                   }, {
                                       period: '2018-11-30',
                                       histProduto: 4,
                                   }, {
                                       period: '2018-12-01',
                                       histProduto: 1.8,
                                   }, {
                                       period: '2018-12-02',
                                       histProduto: 1.9,
                                   }, {
                                       period: '2018-12-03',
                                       histProduto: 2.7,
                                   }, {
                                       period: '2018-12-04',
                                       histProduto: 2.8,
                                   }],
                                   xkey: 'period',
                                   ykeys: ['histProduto'],
                                   labels: ['Warehouse'],
                                   lineColors:     ['#0288D1'],                                   
                                   fillOpacity:    0.2,
                                   behaveLikeLine: true,
                                   lineWidth:      2,
                                   pointSize:      4,
                                   gridLineColor:  '#0288D1',
                                   resize:         true
                                   
                               });

                           });
                           </script>
                           <!-- /. Local de Estoque -->
                                                       
                            
                            <!-- /.Movim Estoque -->
			                <div class="col-lg-12">
			                    <div class="panel panel-default">
			                        <div class="panel-heading">
			                            <h3><span th:text="#{all.giroEstoque}" /></h3>
			                        </div>
			                        <!-- /.panel-heading -->
			                        <div class="panel-body">
			                            <div id="giroEstoque-example"></div>
			                        </div>
			                        <!-- /.panel-body -->
			                    </div>
			                    <!-- /.panel -->
			                </div>
                           <script type="text/javascript">
                           $(document).ready(function() {
                               Morris.Area({
                                   element: 'giroEstoque-example',
                                   data: [{
                                       period: '2018-11-25',
                                       histProduto: 10,
                                   }, {
                                       period: '2018-11-26',
                                       histProduto: 12,
                                   }, {
                                       period: '2018-11-27',
                                       histProduto: 17,
                                   }, {
                                       period: '2018-11-28',
                                       histProduto: 5,
                                   }, {
                                       period: '2018-11-29',
                                       histProduto: 9,
                                   }, {
                                       period: '2018-11-30',
                                       histProduto: 15,
                                   }, {
                                       period: '2018-12-01',
                                       histProduto: 0,
                                   }, {
                                       period: '2018-12-02',
                                       histProduto: 0,
                                   }, {
                                       period: '2018-12-03',
                                       histProduto: 0,
                                   }, {
                                       period: '2018-12-04',
                                       histProduto: 16,
                                   }],
                                   xkey: 'period',
                                   ykeys: ['histProduto'],
                                   labels: ['Moviment Stock'],
                                   lineColors:     ['#E91E63'],    
                                   events: ['2018-12-01', '2018-12-02', '2018-12-03'],                               
                                   fillOpacity:    0.2,
                                   behaveLikeLine: true,
                                   lineWidth:      2,
                                   pointSize:      4,
                                   gridLineColor:  '#E91E63',
                                   resize:         true
                                   
                               });

                           });
                           </script>
                           <!--  fim Movim Estoque -->
                             
							<!-- /.Movim Venda -->
			                <div class="col-lg-12">
			                    <div class="panel panel-default">
			                        <div class="panel-heading">
			 							<h3>1-<span th:text="#{all.mape}" /> (<span th:text="#{all.assertividade}" />)</h3>
			                        </div>
			                        <!-- /.panel-heading -->
			                        <div class="panel-body">
			                            <div id="mape-example"></div>
			                        </div>
			                        <!-- /.panel-body -->
			                    </div>
			                    <!-- /.panel -->
			                </div>
                           <script type="text/javascript">
                           $(document).ready(function() {
                               Morris.Area({
                                   element: 'mape-example',
                                   data: [{
                                       period: '2018-11-25',
                                       histProduto: 90,
                                   }, {
                                       period: '2018-11-26',
                                       histProduto: 87,
                                   }, {
                                       period: '2018-11-27',
                                       histProduto: 78,
                                   }, {
                                       period: '2018-11-28',
                                       histProduto: 0,
                                   }, {
                                       period: '2018-11-29',
                                       histProduto: 0,
                                   }, {
                                       period: '2018-11-30',
                                       histProduto: 0,
                                   }, {
                                       period: '2018-12-01',
                                       histProduto: 80,
                                   }, {
                                       period: '2018-12-02',
                                       histProduto: 86,
                                   }, {
                                       period: '2018-12-03',
                                       histProduto: 87,
                                   }, {
                                       period: '2018-12-04',
                                       histProduto: 95,
                                   }],
                                   xkey: 'period',
                                   ykeys: ['histProduto'],
                                   labels: ['Moviment Demand'],
                                   lineColors:     ['#008000'],    
                                   events: ['2018-11-28', '2018-11-29', '2018-11-30'],                               
                                   fillOpacity:    0.2	,
                                   behaveLikeLine: true,
                                   lineWidth:      2,
                                   pointSize:      4,
                                   gridLineColor:  '#008000',
                                   resize:         true
                                   
                               });

                           });
                           </script>
                           <!--  fim Movim Estoque -->                             
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Bootstrap Core JavaScript -->
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script type="text/javascript" language="JavaScript" src="/resources/vendor/metisMenu/metisMenu.min.js"></script>


    <!-- Morris Charts JavaScript -->
    <script type="text/javascript" language="JavaScript" src="/resources/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="JavaScript" src="/resources/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" language="JavaScript" src="/resources/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
            
        });
    });
    </script>

</body>

</html>
